@import  '../../../scss/variables';
@import  '../../../scss/mixins';


.header {
    position: relative;
}

.titulo {
    position: absolute;
    top: 45%;
    left: 50%;
    color: $purple;
    font-size: 30px;
    margin: 0;

    @include tablet {
        font-size: 60px;
    }

    @include desktop {
        font-size: 80px;
    }
}